
<template>
    <div>
        <form id="work-form">
            <fieldset>
                <legend>Add book:</legend><br>
                <input type="text" name="title" placeholder="Title" autocomplete="off" required><br>
                <input type="text" name="author" placeholder="Author" autocomplete="off" required><br>

                <select id="select-rating" name="rating">
                    <option selected="selected" value="">Choose a rating</option>
                    <option value="general">General</option>
                    <option value="teen">Teen</option>
                    <option value="youngAdult">Young adult</option>
                    <option value="adult">Adult</option>
                </select><br>

                <ul>
                    <li>
                        <input type="checkbox" id="genre-horror" name="genre" value="Horror">
                        <label for="genre-horror">Horror</label>
                    </li>
                    <li>
                        <input type="checkbox" id="genre-romance" name="genre" value="Romance">
                        <label for="genre-romance">Romance</label>
                    </li>
                    <li>
                        <input type="checkbox" id="genre-scifi" name="genre" value="Sci-Fi">
                        <label for="genre-scifi">Sci-fi</label>
                    </li>
                    <li>
                        <input type="checkbox" id="genre-thriller" name="genre" value="Thriller">
                        <label for="genre-thriller">Thriller</label>
                    </li>
                    <li>
                        <input type="checkbox" id="genre-fantasy" name="genre" value="Fantasy">
                        <label for="genre-fantasy">Fantasy</label>
                    </li>
                    <li>
                        <input type="checkbox" id="genre-other" name="genre" value="Other">
                        <label for="genre-fantasy">Other</label>
                    </li>
                </ul><br>

                <textarea name="summary" placeholder="Summary"></textarea><br>

                <div id="text-editor">
                    <div class="tools" id="tools">
                        <button class="tools-btn" id="Bold" aria-pressed="false">Bold</button>
                        <button class="tools-btn" id="Italic" aria-pressed="false">Italic</button>
                    </div>
                    <iframe id="content" name="content" placeholder="Content" contenteditable="true"></iframe><br>
                </div>

                <input id="submitBtn" type="submit" value="Submit">
            </fieldset>
        </form> 
    </div>
</template>