
<template>
    <div>
        <formData id="create-user-form">
            <fieldset>
                <legend>Create user:</legend><br>

                <input type="text" name="username" placeholder="Username" autocomplete="off" required><br>
                <input type="password" name="password" placeholder="Password" autocomplete="off" required><br>
                
                <input id="submit-create-user-btn" type="submit" value="Create user">
        
            </fieldset>
        </formData>
    </div>
</template>