
<template>
    <div>
        <formData id="login-user-form">
            <fieldset>
                <legend>Login:</legend><br>

                <input type="text" name="username" placeholder="Username" autocomplete="off" required><br>
                <input type="password" name="password" placeholder="Password" autocomplete="off" required><br>
                
                <input id="submit-login-user-btn" type="submit" value="Login">
                <p>Dont have a user? <a href="#" id="create-user-link">Create one</a></p>
            </fieldset>
        </formData>
    </div>
</template>